<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.hc" level="WARN"/>
    <logger name="ai.koog" level="OFF"/>
    <logger name="io.ktor" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
